.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    
    @include mobile-landscape {
        grid-template-columns: repeat(8, 1fr);
    }

    @include tablet-landscape {
        grid-template-columns: repeat(12, 1fr);
    }

    & > * {
        grid-column: 1 / -1;
    }
}