/*

    Theme Name: Jonathan Pauls, Inc. - TEMPORARY
    Theme URI: https://jonathanpauls.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Jonathan Pauls, Inc. temporary theme
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* HTML5 */
@import url("https://use.typekit.net/kiw2hic.css");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

body,
button,
input,
select,
optgroup,
textarea {
  font-family: eb-garamond, serif; }

::-moz-selection {
  background: #FFCA5B;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FFCA5B;
  color: #fff;
  text-shadow: none; }

a {
  color: #000;
  text-decoration: underline; }

h5 {
  font-family: roboto, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  padding-bottom: 0.25rem; }
  @media screen and (min-width: 1024px) {
    h5 {
      font-size: 0.875rem; } }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.site-content {
  min-height: 100vh; }

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr); }
  @media screen and (min-width: 568px) {
    .grid {
      grid-template-columns: repeat(8, 1fr); } }
  @media screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(12, 1fr); } }
  .grid > * {
    grid-column: 1 / -1; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.page-template-splash .site-content .background-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }
  body.page-template-splash .site-content .background-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

body.page-template-splash .site-content .info {
  width: 100%;
  height: 100%;
  padding: 2rem; }
  @media screen and (min-width: 768px) {
    body.page-template-splash .site-content .info {
      padding-top: 6rem; } }
  @media screen and (min-width: 1280px) {
    body.page-template-splash .site-content .info {
      padding-top: 8rem; } }

body.page-template-splash .site-content .grid {
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (min-width: 568px) {
    body.page-template-splash .site-content .grid > * {
      grid-column: 1 / span 4; } }
  @media screen and (min-width: 1024px) {
    body.page-template-splash .site-content .grid > * {
      grid-column: 5 / span 4; } }

body.page-template-splash .site-content .logo img {
  width: 100%; }
  @media screen and (min-width: 1024px) {
    body.page-template-splash .site-content .logo img {
      margin: 0 auto; } }

body.page-template-splash .site-content .tagline {
  border: 2px solid #1E1710;
  padding: 1rem 2rem 0.875rem;
  background: #f9f6ef;
  color: #1E1710;
  text-align: center; }
  body.page-template-splash .site-content .tagline p {
    line-height: 1.5em; }

body.page-template-splash .site-content .contact-info {
  background: rgba(60, 43, 28, 0.75);
  padding: 2rem;
  color: #fff; }
  @media screen and (min-width: 1024px) {
    body.page-template-splash .site-content .contact-info {
      padding: 3rem; } }
  body.page-template-splash .site-content .contact-info a {
    color: #fff; }
  body.page-template-splash .site-content .contact-info .detail + .detail {
    padding-top: 1.5rem; }
    @media screen and (min-width: 1024px) {
      body.page-template-splash .site-content .contact-info .detail + .detail {
        padding-top: 2rem; } }
  body.page-template-splash .site-content .contact-info .detail .map {
    font-style: italic; }
  body.page-template-splash .site-content .contact-info .detail h5 {
    color: #FFCA5B; }
  body.page-template-splash .site-content .contact-info .detail p {
    line-height: 1.5em; }
    @media screen and (min-width: 1024px) {
      body.page-template-splash .site-content .contact-info .detail p {
        font-size: 1.125rem; } }

body.page-template-splash .site-content .site-message {
  background: #FFCA5B;
  border: 2px solid #1E1710;
  padding: 1rem 2rem 0.875rem;
  color: #fff;
  text-align: center; }
  body.page-template-splash .site-content .site-message p {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-size: 0.675rem;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #1E1710; }
