h5 {
	font-family: $roboto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75rem;
	letter-spacing: 0.15em;
	padding-bottom: 0.25rem;

	@include tablet-landscape {
		font-size: 0.875rem;
	}
}