body,
button,
input,
select,
optgroup,
textarea {
	font-family: $garamond;
}

::-moz-selection {
	background: $yellow;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $yellow;
	color: $white;
	text-shadow: none;
}

a {
	color: $black;
	text-decoration: underline;
}

@import "headings";

@import "copy";