body.page-template-splash {

    .site-content {

        .background-photo {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            width: 100%;
            height: 100%;
            padding: 2rem;

            @include tablet-portrait {
                padding-top: 6rem;
            }    

            @include desktop {
                padding-top: 8rem;
            }    
        }

        .grid {
            max-width: 1200px;
            margin: 0 auto;

            & > * {
                @include mobile-landscape {
                    grid-column: 1 / span 4;
                }
    
                @include tablet-landscape {
                    grid-column: 5 / span 4;
                }
            }
        }

        .logo {            
            img {
                width: 100%;
                @include tablet-landscape {
                    margin: 0 auto;
                }                
            }
        }

        .tagline {
            border: 2px solid $brown;
            padding: 1rem 2rem 0.875rem;
            background: #f9f6ef;
            color: $brown;
            text-align: center;

            p {
                line-height: 1.5em;
            }
        }        

        .contact-info {
            background: rgba(60, 43, 28, 0.75);
            padding: 2rem;
            color: $white;

            @include tablet-landscape {
                padding: 3rem;
            }

            a {
                color: $white;
            }

            .detail {
                & + .detail {
                    padding-top: 1.5rem;

                    @include tablet-landscape {
                        padding-top: 2rem;
                    }
                }

                .map {
                    font-style: italic;
                }

                h5 {
                    color: $yellow;
                }

                p {
                    line-height: 1.5em;

                    @include tablet-landscape {
                        font-size: 1.125rem;
                    }
                }
            }
        }

        .site-message {
            background: $yellow;
            border: 2px solid $brown;
            padding: 1rem 2rem 0.875rem;
            color: $white;
            text-align: center;

            p {
                font-family: $roboto;
                text-transform: uppercase;
                font-size: 0.675rem;
                letter-spacing: 0.2em;
                font-weight: bold;
                color: $brown;

            }
        }
    }
}